body{
    background-image: url(assets/images/bg.jpg);
    background-size: cover;
}
.wrap{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: rgba(0, 237, 245, 0.57);
}
.container{
    padding: 5px;
}
table{
    margin: auto;
}
table td{
    padding: 5px;
}
button{
    width: 50px;
    font-family: comic sans ms;
    height: 30px;
    background-color: rgba(74, 255, 3, 0.603);
    background-position: 7px;
}