body{
    background-color: rgb(242, 0, 255);
    font-family: comic sans ms;
    text-align: center;
    background-image: url(assets/images/bg1.jpg);
    background-size: cover;
}
tbody tr:nth-child(even) {
    background-color: lightgray;
}
table {
    border: solid 1pt black;
    border-collapse: collapse;
}
td {
    border: solid 1pt black;
    padding: 10pt;
}
th {
    border: solid 1pt black;
    padding: 10pt;
}
h1{
    width: 40%;
    margin: auto;
    color: white;
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: rgba(0, 237, 245, 0.57);
}
a{
    width: 40%;
    margin: auto;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-family: comic sans ms;
    background-color: rgba(45, 0, 245, 0.782);
}